<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Consumir API</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registros"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let foto of fotos">
      <ion-img [src]="foto.thumbnailUrl"></ion-img>
      <ion-card-content>
        <p>{{foto.id}}</p>
        <p>{{foto.title}}</p>
        <ion-router-link color="danger" href="foto.url"
          >{{foto.url}}</ion-router-link
        >
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
