<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Consumir API</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registros"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card color="danger" *ngFor="let foto of fotos">
      <ion-img [src]="foto.thumbnailUrl"></ion-img>
      <ion-card-content class="ion-text-center">
        <p>{{foto.id}}</p>
        <p class="ion-text-uppercase">{{foto.title}}</p>
        <a href="{{foto.url}}">{{foto.url}}</a>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
